<!--

	1. Fetch/select/insert Addresses
	2. Insert billing info
	3. Do checkout

-->

<ion-view view-title="Checkout">

  <ion-content>



<ion-list>
  <div class="item item-divider">
    Shipping address
  </div>
  <ion-item ng-repeat="(k,v) in shipping_address">
    <b>{{k}}</b> : {{v}}
  </ion-item>
  <div class="item item-divider">
    Credit card informations
  </div>
  <ion-item ng-repeat="(k,v) in credit_card">
    <b>{{k}}</b> : {{v}}
  </ion-item>
  <div class="item item-divider">
    Billing address
  </div>
  <ion-item ng-repeat="(k,v) in billing_address">
    <b>{{k}}</b> : {{v}}
  </ion-item>
</ion-list>
<button class="button button-block button-positive" ng-click="doCheckout()">
  Confirm and Checkout <span class="ion ion-android-done-all"></span>
</button>

  </ion-content>
</ion-view>