<ion-view view-title="Home">
<ion-content>
	<div class="padding" style="text-align:center;">
	<img src="/img/ionic.png" style="max-width:50%;"/>
	</div>
	<!--<div class="list list-inset">
  <label class="item item-input">
    <input type="email" placeholder="email">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="password">
  </label>
</div>-->
<div class="padding">
	<button class="button button-block button-positive" ng-click="login()">Log in</button>
</div>
<!--<p class="padding">Don't have an account?</p>-->
<div class="padding">
	<button class="button button-block button-balanced"  ng-click="signup()">Create an account</button>
</div>
</ion-content>
</ion-view>