<ion-view view-title="{{product.name}}">
<ion-content>

<div>
  <div class="list card">
    <div class="item">
      <img src="{{product.images[0]}}" style="max-width:100%;">
    </div>
    <div class="item">
      <b>{{product.name}}</b>
      <p>$ {{product.price}}</p>
    </div>
  </div>
</div>



<div class="padding">

  <div class="list list-inset" ng-show="product.has_variants === true">

  <label class="item item-input item-select" ng-repeat="(v_name,v_values) in product.variantsDefinition">
    <div class="input-label">
      {{v_name}}
    </div>
    <select ng-model="selectedOptions[v_name]" ng-options="item as item for item in v_values">
    </select>
  </label>

</div>
  <button class="button button-balanced button-block" ng-click="addToCart()"><span class="ion ion-android-cart"></span> Add to cart</button>
</div>
</ion-content>
</ion-view>